/*Main Colors*/
/*Gray Scale*/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-header {
  border-bottom: 2px solid #616161;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.info-container {
  width: 55%;
}

.field {
  display: flex;
}

.two-fields-row {
  display: flex;
  justify-content: space-between;
}

.field-value {
  font-weight: 100;
  color: #ebc015;
}

.pro-pic {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

@media only screen and (max-width: 1110px) {
  .two-fields-row {
    flex-direction: column;
    justify-content: flex-start;
  }
  .container-header {
    justify-content: center;
    padding: 15px;
  }
  h3 {
    font-size: 1.2rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .two-fields-row {
    flex-direction: column;
    justify-content: flex-start;
  }
  .container-header {
    justify-content: center;
    padding: 15px;
  }
  .container-title {
    display: none;
  }
  h3 {
    font-size: 1rem !important;
  }
}